{% load i18n %}<ul class="z-password-rules" id="password-rules" data-password-check="{% url 'password_check' %}"{% if user %} data-username="{{ user.username }}" data-email="{{ user.email }}"{% endif %} aria-live="polite">
    <li data-rule="length" data-min-length="{{ min_length }}">{% blocktranslate %}Al menos {{ min_length }} caracteres{% endblocktranslate %}</li>
    <li data-rule="numeric">{% translate "No puede ser solo números" %}</li>
    <li data-rule="similar">{% translate "No se parece a tu usuario ni a tu email" %}</li>
    <li data-rule="common">{% translate "No es una contraseña demasiado común" %}</li>
    <li data-rule="match">{% translate "Las dos contraseñas coinciden" %}</li>
</ul>
